body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #E0E0E0;
}


.breadcrumb {
  padding: 10px 25px;
  margin-bottom: 10px;
  list-style: none;
  background-color: white;
  border-radius: 1px;
}
.middle img {
    max-width: 175%;
}
/*footer {
  /*margin-top: 550px;
  background-color: white;
}*/


p.highlight {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 45px;
  line-height: 2;
  margin-top: 15px;
  color: #00001a;
  background-color: #E0E0E0;
  margin-right: -490px;
}
