beautifulsoup4==4.6.0
bleach==2.0.0
certifi==2018.1.18
chardet==3.0.4
defusedxml==0.5.0
Django==1.11.29
django-contrib-comments==1.8.0
django-crispy-forms==1.6.1
django-debug-toolbar==1.9.1
django-htmlmin==0.10.0
django-mptt==0.8.7
djangorestframework==3.6.4
docopt==0.6.2
Faker==0.8.16
filebrowser-safe==0.4.7
future==0.16.0
grappelli-safe==0.4.7
html5lib==0.999999999
idna==2.6
Markdown==2.6.11
Mezzanine==4.2.3
oauthlib==2.0.7
olefile==0.45.1
path.py==10.3.1
Pillow==4.1.1
psycopg2-binary==2.7.5
PyJWT==1.6.4
python-dateutil==2.7.3
python3-openid==3.1.0
pythonanywhere==0.0.12
pytz==2018.4
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
social-auth-core==1.7.0
sqlparse==0.2.4
text-unidecode==1.2
tzlocal==1.5.1
Unidecode==0.4.21
urllib3==1.22
webencodings==0.5.1
