{% extends "control_base.html" %}
{% load crispy_forms_tags %}
{% block control %}


<div class="main">
    <a href="{% url "control_panel:control_newsletter_list" %}">
      <button type="button" class="btn btn-default"><< All Newsletter</button>
    </a>


    <div class="page_header">
        <h1>{{ newsletter.subject }}</h1>
    </div>

  <div class="newsletter-body">
      {{ newsletter.content | safe }}      
  </div>


  <div class="newsletter-body">
    <label class="control-label" for="inputSuccess2">Subscribers</label>
    <select multiple class="form-control">
      {% for user in user_list %}
      <option>{{ user }}</option>
      {% endfor %}
    </select>
  </div>


  <div>
      <a href="{% url "control_panel:control_newsletter_edit" pk=newsletter.pk %}">
        <button class="btn btn-info">Edit</button></a>
      <a href="{% url "control_panel:control_newsletter_delete" pk=newsletter.pk %}">
        <button class="btn btn-danger">Delete</button></a>
      <a href="{% url "control_panel:control_newsletters" %}">
        <button class="btn btn-success">New</button></a>
  </div>
</div>
{% endblock %}
