<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n staticfiles %}

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>Click & Teach</title>
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/bootstrap-rtl.css" %}">
{% endif %}
{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{% static "css/cartridge.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
{% endif %}
{% endifinstalled %}
{% block extra_css %}
<link rel="stylesheet" href="{% static "css/custom.css" %}">
{% endblock %}
{% endcompress %}

{% compress js %}
<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/bootstrap-extras.js" %}"></script>
{% block extra_js %}{% endblock %}
{% endcompress %}


</head>

<body>

<div class="banner">
  <div class="banner-img">
    <img src="{% static 'img/banner.jpg' %}"/>
  </div>
  <div class="social-media">
    <div class="social-media-box"><a href="https://facebook.com/ESLclicknteach"><img src="{% static 'img/facebook.png' %}"/></a></div>
    <div class="social-media-box"><a href="https://pinterest.com/ESLclicknteach"><img src="{% static 'img/pinterest.png' %}"/></a></div>
    <div class="social-media-box"><a href="https://instagram.com/eslclicknteach"><img src="{% static 'img/instagram.png' %}"/></a></div>
    <div class="social-media-box"><a href="https://twitter.com/ESLclicknteach"><img src="{% static 'img/twitter.png' %}"/></a></div>
  </div>
</div>

<div class="navbar-default navbar-index" role="navigation">
  <div class="container">
    <div class="navbar-collapse collapse">
        {% block navbar_search_form %}{% search_form "all" %}{% endblock %}
        {% block navbar_dropdown_menu %}{% page_menu "pages/menus/dropdown-index.html" %}{% endblock%}
    </div>
  </div>
</div>

<div class="msg-index">
  <img src="{% static 'img/msg-index.png' %}"/>
  <!--<p>Outstanding lesson plans to enrich your classroom</p>-->
</div>


<div class="footer">
  {% page_menu "pages/menus/footer.html" %}
  <div class="row">
  <p class="site-info text-center">
      {% trans "Powered by" %}
      <a href="http://mezzanine.jupo.org">Mezzanine</a>{% ifinstalled cartridge.shop %},
      <a href="http://cartridge.jupo.org">Cartridge</a>{% endifinstalled %}
      {% trans "and" %}
      <a href="http://www.djangoproject.com">Django</a>
      <span class="separator">|</span>
      {% trans "Theme by" %} <a target="_blank" href="http://getbootstrap.com">Bootstrap</a>
      {% ifinstalled mezzanine.mobile %}
      <span class="separator">|</span>
      <a href="{% url "set_device" "mobile" %}?next={{ request.path }}">{% trans "View Mobile Site" %}</a>
      {% endifinstalled %}
  </p>
  </div>
</div>


</body>
</html>
